body {
  font-family: "Source Han Serif", "PingFang SC", "Microsoft YaHei", sans-serif;
  line-height: 1.7em;
  color: #4a4a4a;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: #686868;
}
a:hover {
  color: #0e0e0e;
}
img {
  max-width: 100%;
}
sup a {
  border-bottom: none;
}
.container {
  box-sizing: border-box;
  position: absolute;
  left: 240px;
  right: 0;
  margin: auto;
  max-width: 960px;
  width: 60%;
}
.container > div > footer {
  position: relative;
  width: 100%;
  text-align: center;
  color: #888;
  font-size: 14px;
  line-height: 20px;
  padding: 2.5rem 0 1.5rem;
}
.Index,
.TagArticle {
  padding: 7em 0 0 0;
  margin: 0;
}
.Index > li,
.TagArticle > li {
  list-style: none;
}
.Archives {
  position: relative;
  padding: 7em 16px 0;
}
.Archives::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -2px;
  height: auto;
  content: '';
  background-color: #ddd;
  width: 2px;
}
.Archives h1,
.Archives h2 {
  font-weight: 400;
}
.Archives h1::before,
.Archives h2::before {
  position: absolute;
  left: -6px;
  content: '';
  background-color: #ddd;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-top: 7px;
}
.Archives h1:hover::before,
.Archives h2:hover::before {
  background-color: #777;
  transition: background-color 500ms ease;
}
.Archives h2 {
  font-size: 1.3rem;
  margin-bottom: 0;
}
.Archives h2::before {
  left: -5px;
  margin-top: 8px;
  width: 8px;
  height: 8px;
}
.Tags {
  margin: 0;
  padding: 4em 0 0 0;
  text-align: center;
}
.Tags > li {
  list-style: none;
}
.Tags a {
  border-bottom: none;
}
@media screen and (max-width: 1024px) {
  .container {
    position: absolute;
    left: 0;
    right: 0;
    padding-top: 20em;
    overflow-x: hidden;
    max-width: none;
    width: auto;
  }
  .container::before {
    content: '';
    display: block;
    position: relative;
    height: 1px;
    width: 10%;
    background-color: #cdcdcd;
    top: 3.5em;
    margin: auto;
  }
  .Archives {
    padding: 0 16px;
    margin-top: 7em;
  }
  .container > * {
    margin-left: 4%;
    margin-right: 4%;
  }
}
@media screen and (max-width: 450px) {
  html,
  body {
    font-size: 90%;
  }
  code pre {
    font-size: 80%;
  }
  .title h1,
  .PageTitle h1 {
    font-size: 1.3rem !important;
  }
}
.route-trans-enter {
  position: absolute;
  left: 0;
  right: 0;
  transform: translateX(-100px);
  opacity: 0;
}
.route-trans-enter.route-trans-enter-active {
  animation: route-trans-e 0.8s;
  animation-fill-mode: forwards;
}
.route-trans-leave {
  position: absolute;
  left: 0;
  right: 0;
  transform: translateX(0);
  opacity: 1;
}
.route-trans-leave.route-trans-leave-active {
  animation: route-trans-o 0.8s;
  animation-fill-mode: forwards;
}
@-moz-keyframes route-trans-e {
  0% {
    transform: translate3d(-100px, 0, 0);
    opacity: 0;
  }
  50% {
    transform: translate3d(-100px, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes route-trans-e {
  0% {
    transform: translate3d(-100px, 0, 0);
    opacity: 0;
  }
  50% {
    transform: translate3d(-100px, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-o-keyframes route-trans-e {
  0% {
    transform: translate3d(-100px, 0, 0);
    opacity: 0;
  }
  50% {
    transform: translate3d(-100px, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes route-trans-e {
  0% {
    transform: translate3d(-100px, 0, 0);
    opacity: 0;
  }
  50% {
    transform: translate3d(-100px, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-moz-keyframes route-trans-o {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  50% {
    transform: translate3d(100px, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(100px, 0, 0);
    opacity: 0;
  }
}
@-webkit-keyframes route-trans-o {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  50% {
    transform: translate3d(100px, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(100px, 0, 0);
    opacity: 0;
  }
}
@-o-keyframes route-trans-o {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  50% {
    transform: translate3d(100px, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(100px, 0, 0);
    opacity: 0;
  }
}
@keyframes route-trans-o {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  50% {
    transform: translate3d(100px, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(100px, 0, 0);
    opacity: 0;
  }
}
.SideBar {
  position: fixed;
  width: 240px;
  overflow: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  position: fixed;
  background-color: #f8f8f8;
  z-index: 10000;
}
.SideBar > section {
  width: 100%;
}
.media {
  position: absolute;
  width: 100%;
  bottom: 0.5rem;
  text-align: right;
}
.media > a {
  margin-right: 1em;
  border: none;
}
.media img {
  width: 1.5em;
  height: auto;
  opacity: 0.6;
}
.media img:hover {
  opacity: 1;
}
.menu {
  box-sizing: border-box;
  position: absolute;
  top: 270px;
  width: 240px;
  margin: 0;
  text-align: right;
  line-height: 1.7em;
  padding-right: 35px;
}
.avatar {
  height: 180px;
  background-color: #333;
  position: absolute;
  width: 100%;
  top: 0;
}
.av-pic {
  display: block;
  width: 130px;
  height: 130px;
  margin-top: 115px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  background-size: 100%;
  border: 2px solid #fff;
}
.Btn {
  border-bottom: none;
}
.Btn > li {
  list-style: none;
  line-height: 1em;
  margin: 1rem 0;
}
@media screen and (min-width: 1025px) {
  a.Btn {
    border-bottom: none;
  }
  a.Btn > li {
    font-size: 1.5rem;
  }
  a.Btn > li:hover {
    border-right-color: #333;
  }
  a.Btn.active > li {
    border-right-color: #333;
  }
}
@media screen and (max-width: 1024px) {
  .SideBar {
    position: absolute;
    left: 0;
    right: 0;
    height: 22em;
    width: auto;
  }
  .menu {
    position: relative;
    top: 197px;
    text-align: center;
    width: 100%;
    padding: 0;
  }
  .menu > div {
    font-size: 1rem;
  }
  .menu > ul {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 280px;
    margin: 0 auto;
    padding: 0;
  }
  .menu > ul > a {
    font-size: 1rem;
  }
  .Btn > li {
    margin: 1em 0;
    padding: 0;
    flex: 1;
    border-right: none;
    min-width: 70px;
  }
  .media {
    bottom: 9em;
    right: 1.5em;
  }
  .avatar {
    height: 120px;
  }
  .avatar > .av-pic {
    margin-top: 55px;
  }
}
.ListView {
  margin-bottom: 7em;
}
.ListView .title {
  text-align: center;
}
.ListView .title h1 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 0.3em;
  line-height: 125%;
}
.ListView .title a {
  border-bottom: none;
  color: #111;
}
.ListView .title a:hover {
  color: #0e0e0e;
  border-bottom: 1px #0e0e0e solid;
}
.ListMeta {
  font-size: 0.8em;
  color: #bbb;
  margin-bottom: 2.5em;
}
.ListMeta:hover {
  color: #333;
}
.ListMeta ul {
  display: inline;
  padding: 0;
}
li.meta-text {
  display: inline-block;
}
.more-link a {
  border-bottom-width: 2px;
}
.PageTitle {
  text-align: left;
  margin-bottom: 4em;
}
.PageTitle h1 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 0.3em;
  margin-left: -10%;
}
@media screen and (max-width: 1024px) {
  .PageTitle h1 {
    font-size: 2rem;
    margin-left: auto;
    padding-top: 3rem;
  }
}
.PageTitle a {
  border: none;
  color: #111;
}
time {
  font-family: inherit;
}
.ContentView {
  padding-top: 4em;
}
.ContentView .ArticleMeta {
  font-size: 0.8em;
  color: #bbb;
  margin: 2.5em auto;
}
.ContentView .ArticleMeta a {
  border-bottom: 1px #bbb solid;
}
.ContentView .ArticleMeta:hover {
  color: #333;
}
.ContentView .ArticleMeta:hover a {
  border-bottom: 1px #333 solid;
}
.ContentView .ArticleMeta > div:nth-child(1) {
  position: relative;
  width: 49%;
  text-align: right;
}
.ContentView .ArticleMeta > div:nth-child(1)::after {
  content: '/';
  font-size: 300%;
  font-weight: 100;
  position: absolute;
  top: 15px;
  right: -18px;
}
.ContentView .ArticleMeta > div:nth-child(2) {
  width: 49%;
  margin-left: auto;
  margin-right: 0;
}
.ContentView .ArticleMeta > div:only-child {
  width: 100%;
  text-align: center;
}
.ContentView .ArticleMeta > div:only-child::after {
  display: none;
}
#nav-wrapper {
  text-align: center;
}
#page-nav {
  position: relative;
  display: inline-block;
  padding: 0 1em;
}
.page-number {
  margin: 0.3em;
}
.extend {
  border-bottom-color: transparent;
  line-height: inherit;
  position: absolute;
  white-space: nowrap;
}
.extend.prev {
  right: 100%;
}
.extend.next {
  left: 100%;
}
.TimeSection {
  overflow: hidden;
}
.TimeSection h1 {
  cursor: pointer;
}
.TimeSection ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.ContentView #toc {
  background-color: rgba(255,255,255,0.7);
  opacity: 0;
  transition: opacity 0.3s;
}
.ContentView #toc:hover {
  opacity: 1;
}
.ContentView #toc .toc-level-4,
.ContentView #toc .toc-level-5,
.ContentView #toc .toc-level-6 {
  display: none;
}
@media screen and (min-width: 450px) {
  .ContentView #toc {
    position: fixed;
    right: 10px;
    top: 10px;
    max-height: calc(90vh - 100px);
    overflow: auto;
    padding: 0px 10px;
    border-radius: 7px;
    margin-bottom: 0;
  }
  .ContentView #toc ol {
    padding-left: 10px;
  }
  .ContentView #toc li {
    list-style: none;
  }
  .ContentView #toc a {
    line-height: 1rem;
    font-size: 13px;
    color: #767676;
  }
}
.ContentView figure.highlight,
.ContentView pre >code {
  display: block;
  width: 92%;
  margin: auto;
  overflow-x: auto;
  padding: 10px;
  font-size: 1.2rem;
  margin-bottom: 16px;
}
.ContentView figure.highlight,
.ContentView pre >code {
  font-family: monospace;
  background-color: #f7f7f7;
  border-radius: 10px;
}
.ContentView figure.highlight .gutter,
.ContentView pre >code .gutter {
  text-align: right;
  color: #afafaf;
  padding: 0 8px 0 0;
  border-right: 3px solid #6ce26c;
}
.ContentView figure.highlight .code,
.ContentView pre >code .code {
  padding-left: 16px;
  letter-spacing: 0.025em;
}
.ContentView figure.highlight pre,
.ContentView pre >code pre {
  margin: auto;
  overflow-x: auto;
}
.ContentView code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 1.25rem;
  background-color: #f7f7f7;
  border-radius: 3px;
}
.ContentView code::before,
.ContentView code::after {
  letter-spacing: -0.2em;
  content: "\A0";
}
.ContentView blockquote {
  margin: 0;
  padding: 0 1em;
  color: #777;
  border-left: 0.25em solid #ddd;
}
.ContentView .success,
.ContentView .danger,
.ContentView .info,
.ContentView .warning {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.ContentView .success p,
.ContentView .danger p,
.ContentView .info p,
.ContentView .warning p {
  margin: 0;
}
.ContentView .danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.ContentView .success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.ContentView .info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.ContentView .warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.ContentView a {
  color: #337ab7;
  text-decoration: none;
}
.ContentView a:hover {
  color: #23527c;
  text-decoration: underline;
}
.ContentView hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #e7e7e7;
  border: 0;
}
.ContentView mark {
  padding: 0.2em;
  background-color: #fcf8e3;
}
.ContentView >section >table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
  margin-top: 0;
  margin-bottom: 16px;
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;
}
.ContentView >section >table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}
.ContentView >section >table tr >th,
.ContentView >section >table tr >td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}
.ContentView >section >table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
.ContentView img {
  box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.4);
}
div[data-pager-shell] li >article.ListView {
  margin: 0;
}
div[data-pager-shell] li >article.ListView >header.title >h1 {
  display: block;
}
div[data-pager-shell] li >article.ListView >div {
  display: none;
}
@media screen and (min-width: 450px) {
  div[data-pager-shell] .Archives {
    left: 55px;
  }
  div[data-pager-shell] .Archives .time-section-year {
    position: absolute;
    right: 103%;
  }
  div[data-pager-shell] .Archives .time-section-year::before {
    display: none;
  }
}
#ixbg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  opacity: 0.5;
}
#list_related_posts h2 {
  margin: 0;
}
.related-posts {
  font-size: 0;
}
.related-posts .related-posts-item {
  display: inline-block;
  border: 10px solid #fff;
  box-sizing: border-box;
  font-size: 1rem;
  vertical-align: top;
  margin-top: 18px;
  margin-bottom: 18px;
  width: 33.33%;
}
@media screen and (max-width: 1024px) {
  .related-posts .related-posts-item {
    width: 50%;
  }
}
.related-posts-item-abstract {
  position: relative;
  font-size: 0.8rem;
  color: #888;
  line-height: 1rem;
}
.related-posts-item-abstract::after {
  content: "...";
  position: absolute;
  left: 100;
  bottom: 0;
}
.hljs {
    display: block;
    background: white;
    padding: 0.5em;
    color: #333333;
    overflow-x: auto
}

.comment,
.meta {
    color: #969896
}

.string,
.variable,
.template-variable,
.strong,
.emphasis,
.quote {
    color: #df5000
}

.keyword,
.selector-tag,
.type {
    color: #a71d5d
}

.literal,
.symbol,
.bullet,
.attribute {
    color: #0086b3
}

.section,
.name {
    color: #63a35c
}

.tag {
    color: #333333
}

.title,
.attr,
.selector-id,
.selector-class,
.selector-attr,
.selector-pseudo {
    color: #795da3
}

.addition {
    color: #55a532;
    background-color: #eaffea
}

.deletion {
    color: #bd2c00;
    background-color: #ffecec
}

.link {
    text-decoration: underline
}
