.share-buttons
  text-align: right
.fbShareButton
  display: inline-block
  padding: 2px 6px 2px 6px
  line-height: 1.34
  font-size: .5rem
  border-radius: 3px
  background: #4267b2
  border: 1px solid #4267b2
  color: #fff
  cursor: pointer
