.ContentView
  // position: relative
  #toc
    background-color: rgba(255, 255, 255, 0.7)
    opacity: 0
    transition: opacity 0.3s

    &:hover
      opacity: 1

    .toc-level-4, .toc-level-5, .toc-level-6
      display: none

    @media screen and (min-width: 450px)
      position: fixed
      right: 10px
      top: 10px
      max-height: calc(90vh - 100px)
      overflow: auto
      padding: 0px 10px
      border-radius: 7px
      margin-bottom: 0

      ol
        padding-left: 10px

      li
        list-style: none

      a
        line-height: 1rem
        font-size: 13px
        color: #767676

  figure.highlight, pre > code
    display: block
    width: 92%
    margin: auto
    overflow-x: auto
    padding: 10px
    font-size: 1.2rem
    margin-bottom: 16px

  figure.highlight, pre > code
    font-family: monospace
    background-color: #f7f7f7
    border-radius: 10px

    .gutter
      text-align: right

      // min-width: 20px
      color: #afafaf
      padding: 0 8px 0 0
      border-right: 3px solid #6ce26c

    .code
      padding-left: 16px
      letter-spacing: 0.025em

    pre
      margin: auto
      overflow-x: auto

    // table
    //   display: block
    //   margin: 0
    //   background-color: transparent
    //   tr
    //     background-color: transparent
    //     border-style: none
    //     >th, >td
    //       padding: 6px 13px
    //       border-style: none
    //       &:nth-child(2n)
    //         background-color: #f8f8f8

  code
    padding: 0
    padding-top: 0.2em
    padding-bottom: 0.2em
    margin: 0
    font-size: 1.25rem
    background-color: #f7f7f7
    border-radius: 3px

    &::before, &::after
      letter-spacing: -0.2em
      content: " "

  blockquote
    margin: 0
    padding: 0 1em
    color: #777
    border-left: 0.25em solid #ddd

  .success, .danger, .info, .warning
    padding: 15px
    margin-bottom: 20px
    border: 1px solid transparent
    border-radius: 4px

    p
      margin: 0

  .danger
    color: #a94442
    background-color: #f2dede
    border-color: #ebccd1

  .success
    color: #3c763d
    background-color: #dff0d8
    border-color: #d6e9c6

  .info
    color: #31708f
    background-color: #d9edf7
    border-color: #bce8f1

  .warning
    color: #8a6d3b
    background-color: #fcf8e3
    border-color: #faebcc

  a
    color: #337ab7
    text-decoration: none

    &:hover
      color: #23527c
      text-decoration: underline

  hr
    height: 0.25em
    padding: 0
    margin: 24px 0
    background-color: #e7e7e7
    border: 0

  mark
    padding: 0.2em
    background-color: #fcf8e3

  > section
    > table
      display: block
      width: 100%
      overflow: auto
      word-break: normal
      word-break: keep-all
      margin-top: 0
      margin-bottom: 16px
      background-color: transparent
      border-spacing: 0
      border-collapse: collapse

      tr
        background-color: #fff
        border-top: 1px solid #ccc

        > th, > td
          padding: 6px 13px
          border: 1px solid #ddd

        &:nth-child(2n)
          background-color: #f8f8f8

  img
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.4)

section
  h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a
    position: absolute
    right: 101%
    opacity: 0
    transition: opacity 0.5s

  h1:hover > a, h2:hover > a, h3:hover > a, h4:hover > a, h5:hover > a, h6:hover > a
    opacity: 1
    color: #686868
    transition: opacity 0.2s
