div[data-pager-shell]
  li
    >article.ListView
      margin: 0
      >header.title
        >h1
          display: block
      >div
        display: none
  >div
    >article.ContentView
      >header.PageTitle
        display: none
