div[data-pager-shell]
  li
    >article.ListView
      margin: 0
      >header.title
        >h1
          display: block
  @media screen and (min-width: 450px)
    .Archives
      left: 55px
      .time-section-year
        position: absolute
        right: 103%
        &::before
          display: none
