#list_related_posts
  h2
    margin: 0

.related-posts
  font-size: 0

  .related-posts-item
    display: inline-block
    border: 10px solid white
    box-sizing: border-box
    font-size: 1rem
    vertical-align: top
    margin-top: 18px
    margin-bottom: 18px
    width: 33.33%

    @media screen and (max-width: 1024px)
      width: 50%

.related-posts-item-abstract
  position: relative
  font-size: 0.8rem
  color: #888
  line-height: 1rem

  &::after
    content: "..."
    position: absolute
    left: 100
    bottom: 0
