$header_width = 240
$header_height = 180
$av_size = 130

.SideBar
  position: fixed
  width: ($header_width)px
  overflow: hidden
  top: 0
  left: 0
  bottom: 0
  height: 100%
  position: fixed
  background-color: #F8F8F8
  z-index: 10000

  // > section
  //   width 100%

.media
  position: absolute
  top: auto
  bottom: 0.5rem
  left: auto
  right: 35px

  > a
    border: none
    font-size: 24px
    &:nth-child(-n+2)
      margin-right: .3em

  img
    width: 1.5em
    height: auto
    opacity: 0.6

    &:hover
      opacity: 1

.menu
  box-sizing: border-box
  position: absolute
  top: ($header_height + 90)px
  width: ($header_width)px
  margin: 0
  text-align: right
  line-height: 1.7em
  > div
    text-align: center
    &:first-child
      font-size: 1.3rem

  > ul
      // padding-top: 2em
      padding-left: 0
      padding-right: 35px
      margin-top: 8em


.avatar
  height: ($header_height)px
  //background-color: #333
  opacity: .8
  // background-image: url(../../assets/header.png)
  position: absolute
  width: 100%
  top: 0

.av-pic
  position: relative
  display: block
  width: ($av_size)px
  height: ($av_size)px
  top: ($header_height - $av_size / 2)px
  left: auto
  right: auto
  margin: auto

  // border-radius: 50%
  background-color: #FFFFFF

  // background-image: url(../../assets/tree_small.png)
  background-size: 100%
  border: 2px solid #fff

.Btn
  border-bottom: none

  > li
    list-style: none
    line-height: 1em
    margin: 0.3rem 0

@media screen and (min-width: 1025px)
  a.Btn
    border-bottom: none

    > li
      // padding-right: 1em
      // border-right: 3px #aaa solid
      font-size: 1.5rem

      &:hover
        border-right-color: #333

    &.active > li
      border-right-color: #333

@media screen and (max-width: 1024px)
  .SideBar
    position: absolute
    left: 0
    right: 0
    height: 22em
    width: auto

  .menu
    position: absolute
    top: ($header_height / 1.5 + $av_size / 2 + 12)px
    text-align: center
    width: 100%
    padding: 0

    > div
      font-size: 1rem
      padding: 0

    > ul
      display: flex
      align-items: self-start
      justify-content: space-around
      flex-wrap: wrap

      max-width: 30em
      min-width: 280px
      margin: 0 auto
      padding: 0

      // font-size: 0

  .Btn
    li
      margin: 1em 0
      padding: 0
      flex: 1
      border-right: none
      min-width: 70px

  .media
    top: 134px
    bottom: auto
    left: calc(50% + 134px / 2 + 1vw)
    right: auto

  .avatar
    height: ($header_height / 1.5)px

  .av-pic
    top: ($header_height / 1.5 - $av_size / 2)px
