<footer>
    <div>© 2017 - <%= new Date().getYear() + 1900 %> <%= config.author %> <% if (config.license) { %> , <%= config.license %> <% } %></div>
    <div>
    Powered by Hexo
    </div>
</footer>
