<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="keywords" content="" />
  <meta name="title" content="《深黑色》技術筆記">
  <meta name="author" content="github.com/dwatow">
  <meta name="copyright" content="《深黑色》2017">
  <meta name="description" content="從C++到Javascript，邁向網頁前端之路。">
  <meta itemprop="name" content="Chris">
  <meta itemprop="image" content="https://avatars1.githubusercontent.com/u/1825852?v=3&s=460">
  <meta property="og:title" content="《深黑色》技術筆記">
  <meta property="og:url" content="dwatow.github.io">
  <meta property="og:image" content="https://avatars1.githubusercontent.com/u/1825852?v=3&s=460">
  <meta property="og:description" content="從C++到Javascript，邁向網頁前端之路">

  <title>
    <% if (page.title){ %>
      <%= page.title %> |
        <% } %>
          <%= config.title %>
  </title>
  <% if (theme.source_han_font) { %>
    <% } %>
      <!--link rel="stylesheet" href="//cdn.jsdelivr.net/highlight.js/9.10.0/styles/github-gist.min.css"-->
      <%- css('//cdn.jsdelivr.net/highlight.js/9.10.0/styles/github-gist.min.css') %>
        <%- css('css/style') %>
</head>
